<div class="image_view" style="display: inline-grid;">
<canvas #canvas width="600" height="500"></canvas>
<button class="btn theme-btn mt-5" matTooltip='Image Upload' tabindex="-1" matTooltipClass="custom-tooltip">
    <img src="./../../../../assets/img/Pricing/uploadimg.png" style="width: 27.55px;height: 28.8px;" (click)="UPLOAD()">
  </button>
  <button class="btn theme-btn mr-2 ml-auto" matTooltip='Delete' matTooltipClass="custom-tooltip"
          (click)="DELETE()">
          <svg class="icon icon-delete">
            <use xlink:href="assets/symbol-defs.svg#icon-delete"></use>
          </svg>
    </button>
<input id="fileInput" type="file" style="display: none;" (change)="onFileInputChange($event)">
</div>
