<section class="login__container">

  <div class="login__backdrop glass-light">
    <div class="login__logo-wrapper">
      <img class="login__logo-text" src="../../../../assets/img/logo.svg" alt="logo-text">
      <img class="login__logo-round" src="../../../../assets/img/logo-1.svg" alt="">
    </div>
  </div>

  <div class="login__form glass-dark" *ngIf="!OtpForm">
    <h1 class="heading-1"> Sign In</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
      <fieldset class="login__fields">

        <div class="login__field">
          <input class="login__input" type="text" id="username" name="username" formControlName="UserId" required=""
            appAutoFocus>
          <label class="login__label" for="username">Username</label>
        </div>

        <div class="login__field">
          <input class="login__input" type="password" id="password" name="password" formControlName="password"
            required="">
          <label class="login__label" for="password">Password</label>
        </div>

        <button class="login__button" [disabled]="!loginForm.valid">Login</button>
      </fieldset>
    </form>
  </div>

  <form *ngIf="OtpForm" [formGroup]="OTPForm" novalidate autocomplete="off" class="login__form glass-dark">
    <h1 class="heading-1"> verify Otp</h1>
    <div class="login__field">
      <input class="login__input" type="password" id="OTP" name="OTP" formControlName="OTP" required=""
        appAutoFocus type="OTP">
      <label class="login__label" for="OTP">OTP</label>
    </div>
  <div class="btn-g" style="display: contents;">
    <button [disabled]="!OTPForm.valid" mat-raised-button matTooltip="Submit" color="primary" class="btn lgn-btn" (click)="OTPSubmit()" mat-button>Submit</button>  
    <!-- <button class="btn theme-btn mr-2 ml-auto" matTooltip='Back to login' matTooltipClass="custom-tooltip">
      <img src="./../../../../assets/img/Config/back-button.png" style="width: 27.55px;height: 28.8px;"
        (click)="OtpForm=!OtpForm;ClearTokne()">
    </button> -->
    <button mat-raised-button color="primary" class="btn lgn-btn"  mat-button (click)="OtpForm=!OtpForm;ClearTokne()" >Back to login</button>
    <button mat-raised-button color="primary" class="btn lgn-btn" [disabled]="isResendDisabled"  mat-button (click)="ResendOtp()" >Resend Otp</button>
    <p style="color: white;" *ngIf="isResendDisabled">Unable to resend Otp  {{ remainingTime }} seconds</p>
  </div>
</form>
</section>

<ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
