<!-- <canvas width="1000" height="450" style="border: 1px solid;height: 450px;" #lienzo id="lienzo"></canvas> -->
<!-- <div class="canvas-container">
  <canvas width="1000" height="450" style="border: 1px solid;height: 450px;" #lienzo id="lienzo"></canvas>
</div> -->
<canvas #lienzo id="lienzo" width="1000" style="border: 1px solid black;" height="450"></canvas>
<div class="resize-handle top-left" (mousedown)="startResizing('top-left')"></div>
<div class="resize-handle top-right" (mousedown)="startResizing('top-right')"></div>
<div class="resize-handle bottom-left" (mousedown)="startResizing('bottom-left')"></div>
<div class="resize-handle bottom-right" (mousedown)="startResizing('bottom-right')"></div>



<div class="controls">
  <input type="color" (change)="cambiarColor()" [(ngModel)]="color"/>
  <button class="btn theme-btn" matTooltip='Clear' matTooltipClass="custom-tooltip" (click)="borrar()">
    <svg class="icon icon-clear">
      <use xlink:href="assets/symbol-defs.svg#icon-clear"></use>
    </svg>
  </button>
  <button class="btn theme-btn mr-2 ml-auto" matTooltip='Save' matTooltipClass="custom-tooltip"
          (click)="download()">
          <svg class="icon icon-save">
            <use xlink:href="assets/symbol-defs.svg#icon-save"></use>
          </svg>
        </button>

        <button class="btn theme-btn mr-2 ml-auto" matTooltip='Delete' matTooltipClass="custom-tooltip"
          (click)="DELETE()">
          <svg class="icon icon-delete">
            <use xlink:href="assets/symbol-defs.svg#icon-delete"></use>
          </svg>
    </button>
  <input type="range" min="1" max="25" [(ngModel)]="radio" (change)="changeRadio()">
  <div class="radio" [style.padding.px]="(radio/2)"></div>

  <button class="btn theme-btn mr-2 ml-auto" matTooltip='close' matTooltipClass="custom-tooltip"
          (click)="CLOSE()">
          <svg class="icon icon-close">
            <use xlink:href="assets/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
</div>
<ngx-spinner>
  <p style="color: white;"> Loading..</p>
</ngx-spinner>
