<div style="display: inline-flex; height: 646px; width: 100%;">
    <section class="form-container"
        style="width: calc(100% - 26px); place-content: baseline; display: flex; flex-direction: column;">
        <article class="fields-wrapper" style="max-width:calc(100vw - 4vw);">
            <ng-select class="autoComplete" placeholder="Company Code" style="width: 7rem;" appearance="outline"
                autocomplete="off" [(ngModel)]="COMP_CODE" (ngModelChange)="GETNAME();GETDETID()">
                <ng-option *ngFor="let dept of DEPTArr" [value]="dept.code">{{dept.code}}</ng-option>
            </ng-select>

            <mat-form-field appearance="outline" style="width: calc(100rem - 94rem);">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="COMP_NAME" disabled />
            </mat-form-field>

            <button class="btn theme-btn lot" (click)="OpenDetIdPopup()">
                <svg class="icon icon-lot">
                  <use xlink:href="assets/symbol-defs.svg#icon-lot"></use>
                </svg>
              </button>

            <ng-select class="autoComplete" style="width: 9rem;" [items]="DETIDarr" appearance="outline" #select
                bindLabel="code" dropdownPosition="auto" bindValue="code" [(ngModel)]="DETID"
                (ngModelChange)="GETDATE()" labelForId="album" placeholder="Tendar No*" [virtualScroll]="true">
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span>{{item.code}} || {{item.date}}</span>
                </ng-template>
            </ng-select>

            <mat-form-field appearance="outline" style="width: 6rem;">
                <mat-label>Name</mat-label>
                <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="T_NAME" disabled />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="ID5" [(ngModel)]="F_DATE" #fdate onfocus="this.select();"/>
                <mat-datepicker-toggle matSuffix [for]="ID5" (click)="ID5.open()" ></mat-datepicker-toggle>
                <mat-datepicker #ID5></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="ID2" [(ngModel)]="T_DATE" #tdate onfocus="this.select();"/>
                <mat-datepicker-toggle matSuffix [for]="ID2" (click)="ID2.open()" ></mat-datepicker-toggle>
                <mat-datepicker #ID2></mat-datepicker>
            </mat-form-field>

            <button class="btn theme-btn" matTooltip='Show' matTooltipClass="custom-tooltip" (click)="LoadGridData()">
                <svg class="icon icon-show">
                    <use xlink:href="assets/symbol-defs.svg#icon-show"></use>
                </svg>
            </button>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="ID1" [(ngModel)]="DATE" #fdate onfocus="this.select();" disabled />
                <mat-datepicker-toggle matSuffix [for]="ID1" (click)="ID1.open()" disabled></mat-datepicker-toggle>
                <mat-datepicker #ID1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 6rem;">
                <mat-label>R-Wight</mat-label>
                <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="I_CARAT" disabled />
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 6rem;">
                <mat-label>T-Amount</mat-label>
                <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="FAMT" disabled />
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 6rem;">
                <mat-label>PCTS</mat-label>
                <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="PCRT" disabled />
            </mat-form-field>
            <mat-form-field class='mt-2 password' appearance="outline">
                <input type="password" matInput name="Password" autocomplete="off" [(ngModel)]="PASSWORD"
                  (ngModelChange)="CHANGEPASSWORD();" />
              </mat-form-field>
            <article class="btn-wrapper">
                <button class="btn theme-btn mr-2 ml-auto" matTooltip='Excel' matTooltipClass="custom-tooltip"
                    (click)="Excel()">
                    <svg class="icon icon-excel">
                        <use xlink:href="assets/symbol-defs.svg#icon-excel"></use>
                    </svg>
                </button>
            </article>
        </article>

        <article class="aggrid-wrapper" style="display: flex; width: 100%;">
            <div class="memo-ent-grid prc-view-grid  newGrid">
                <ag-grid-angular style="width: calc(100vw - 3vw); height: calc(100vh - 9vh);" class="ag-theme-alpine"
                    [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
                    [suppressMenuHide]="false" [rowMultiSelectWithClick]="true"
                    [getContextMenuItems]="getContextMenuItems" [suppressRowClickSelection]="true"
                    [getRowStyle]="getRowStyle" [pinnedBottomRowData]="pinnedBottomRowData"
                    (gridReady)="onGridReady($event)" [suppressRowTransform]="true" [suppressMenuHide]="false">
                </ag-grid-angular>
            </div>
        </article>
    </section>
</div>
<ngx-spinner>
    <p style="color: white;"> Loading..</p>
</ngx-spinner>