<div style="display: inline-flex;">
  <section class="form-container glass-light">
    <article class="fields-wrapper">

      <ng-select class="autoComplete" placeholder="Company Code*" appearance="outline" autocomplete="off"
        [(ngModel)]="COMP_CODE" (ngModelChange)="GETNAME();LoadGridData();closeChild();GetTendarNumder()">
        <ng-option *ngFor="let dept of DEPTArr" [value]="dept.code">{{dept.code}}</ng-option>
      </ng-select>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="COMP_NAME" disabled />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tendar Number *</mat-label>
        <input matInput type="number" name="Code" #TNumber  autocomplete="off" [(ngModel)]="DETID" (blur)="BlurTendar()"  [formControl]="Tendar" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tendar Name *</mat-label>
        <input matInput type="text" #TName name="Code" autocomplete="off" [(ngModel)]="T_NAME" [formControl]="TendarNumber" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tendar Date *</mat-label>
        <input matInput [matDatepicker]="ID1" [(ngModel)]="T_DATE" #fdate onfocus="this.select();" [formControl]="TendarDate" />
        <mat-datepicker-toggle matSuffix [for]="ID1" (click)="ID1.open()"></mat-datepicker-toggle>
        <mat-datepicker #ID1></mat-datepicker>
      </mat-form-field>

      <mat-checkbox class="example-margin" [(ngModel)]="ISACTIVE"> Active</mat-checkbox>

      <article class="btn-wrapper">
        <button class="btn theme-btn mr-2 ml-auto" matTooltip='Save' matTooltipClass="custom-tooltip" (click)="Save()">
          <!-- <i class="icon-save mat-icon"></i> -->
          <svg class="icon icon-save">
            <use xlink:href="assets/symbol-defs.svg#icon-save"></use>
          </svg>
        </button>
        <button class="btn theme-btn" matTooltip='Clear' matTooltipClass="custom-tooltip" (click)="Clear()">
          <!-- <i class="icon-clear mat-icon"></i> -->
          <svg class="icon icon-clear">
            <use xlink:href="assets/symbol-defs.svg#icon-clear"></use>
          </svg>
        </button>
      </article>
    </article>

    <article class="aggrid-wrapper">
      <ag-grid-angular [style]="agGridStyles" class="ag-theme-alpine select-color" [defaultColDef]="defaultColDef"
        [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true"
        (rowClicked)='onGridRowClicked($event)' (cellClicked)="onCellDoubleClicked($event);GetSrno($event)">
      </ag-grid-angular>
    </article>
    <article class="password-wrapper">
      <mat-form-field class='mt-2 password' appearance="outline">
        <input type="password" matInput name="Password" autocomplete="off" [(ngModel)]="PASSWORD"
          (ngModelChange)="CHANGEPASSWORD();" />
      </mat-form-field>
    </article>
  </section>



  <section class="form-container glass-light" style="margin-left: 2%;" *ngIf="HIDEPOPUP">
    <article class="fields-wrapper">

      <mat-form-field appearance="outline">
        <mat-label>Srno *</mat-label>
        <input matInput type="number" #Srno name="Srno" [formControl]="SRNOForm" autocomplete="off" [(ngModel)]="SRNO" (blur)="BlurSrno()" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Carat *</mat-label>
        <input matInput type="number" name="Carat" #CRATE autocomplete="off" [(ngModel)]="CRT" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <input matInput type="text" name="Comment" autocomplete="off" [(ngModel)]="COMMENT" />
      </mat-form-field>


      <article class="btn-wrapper">
        <button class="btn theme-btn mr-2 ml-auto" matTooltip='Save' matTooltipClass="custom-tooltip"
          (click)="SavePop()">
          <!-- <i class="icon-save mat-icon"></i> -->
          <svg class="icon icon-save">
            <use xlink:href="assets/symbol-defs.svg#icon-save"></use>
          </svg>
        </button>
        <button class="btn theme-btn" matTooltip='Clear' matTooltipClass="custom-tooltip" (click)="ClearPop()">
          <!-- <i class="icon-clear mat-icon"></i> -->
          <svg class="icon icon-clear">
            <use xlink:href="assets/symbol-defs.svg#icon-clear"></use>
          </svg>
        </button>
        <button class="btn theme-btn" matTooltip='Close' matTooltipClass="custom-tooltip"
          (click)="closeChild()">
          <svg class="icon icon-close">
            <use xlink:href="assets/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
      </article>
    </article>

    <article class="aggrid-wrapper">
      <ag-grid-angular [style]="agGridStyles1" style="margin-bottom: 9%;" class="ag-theme-alpine select-color" [defaultColDef]="defaultColDef1"
        [columnDefs]="columnDefs1" (gridReady)="onGridReady1($event)" [animateRows]="true"
        (rowClicked)='onGridRowClicked1($event)'>
      </ag-grid-angular>
    </article>
  </section>

</div>