<div class="memo-ent-grid" style="height: 89%;" *ngIf='CLOSE'>
  <ag-grid-angular style="width: 100%; height:100%;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
    [pinnedBottomRowData]="pinnedBottomRowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
    [animateRows]="true" [rowSelection]="rowSelection" [cacheQuickFilter]="true" [suppressMenuHide]="false">
  </ag-grid-angular>
  <button class="btn theme-btn" matTooltip="Close" matTooltipClass="custom-tooltip" (click)="CloseHRDIGI()">
    <svg class="icon icon-close">
      <use xlink:href="assets/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
</div>
