<div>
  <div class="prc-view__container--row-1" style="display: flex;gap:1rem">

    <ng-select class="autoComplete" [items]="DEPTArr" appearance="outline" #select bindLabel="code"
      dropdownPosition="auto" bindValue="code" [(ngModel)]="COMP_CODE" (ngModelChange)="GETNAME();GETDETID()"
      labelForId="album" placeholder="Company Code*" [virtualScroll]="true">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <span>{{item.name}} || {{item.code}}</span>
      </ng-template>
    </ng-select>

    <mat-form-field appearance="outline" style="width: 6rem;">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="COMP_NAME" disabled />
    </mat-form-field>

    <ng-select class="autoComplete" style="width: 9rem;" [items]="DETIDarr" appearance="outline" #select
      bindLabel="code" dropdownPosition="auto" bindValue="code" [(ngModel)]="DETID" (ngModelChange)="GETDATE()"
      labelForId="album" placeholder="Tendar No*" [virtualScroll]="true">
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <span>{{item.code}} || {{item.date}}</span>
      </ng-template>
    </ng-select>

    <mat-form-field appearance="outline" style="width: 6rem;">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="T_NAME" disabled />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 8rem;">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="ID1" [(ngModel)]="T_DATE" #fdate onfocus="this.select();" disabled />
      <mat-datepicker-toggle matSuffix [for]="ID1" (click)="ID1.open()"></mat-datepicker-toggle>
      <mat-datepicker #ID1></mat-datepicker>
    </mat-form-field>

    <button class="btn theme-btn" matTooltip='Show' matTooltipClass="custom-tooltip" (click)="LoadGridData();">
      <svg class="icon icon-show">
        <use xlink:href="assets/symbol-defs.svg#icon-show"></use>
      </svg>
    </button>
    <mat-form-field appearance="outline" style="width: 8rem;">
      <mat-label>Date</mat-label>
      <input matInput type="text" style="font-weight: bold;" name="Code" autocomplete="off" [(ngModel)]="TEXP_DATETIME" disabled />
    </mat-form-field>
    <div class='line'>
    <mat-form-field appearance="outline" style="width: 15rem;">
      <mat-label>Remaining Time</mat-label>
      <input matInput  class='pop-outin' style="color: #ff0000a3 !important;font-weight: bold;"type="text" name="Code" autocomplete="off" [(ngModel)]="R_TIME" disabled />
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" style="width: 6rem;">
    <mat-label>Pcs</mat-label>
    <input matInput type="text" name="Code" autocomplete="off" [(ngModel)]="PCS" disabled />
  </mat-form-field>
  </div>

</div>


<cdk-virtual-scroll-viewport itemSize="400" class="example-viewport" >
  <ng-container *cdkVirtualFor="let item of rowData; trackBy: trackByFn">

    <article class="aggrid-wrapper" style="width: 100%;">

      <div style="max-width: 1140px;position: relative;">
        <div class="container-name" style="display: flex;">

          <mat-label style="width: 150px;border:1px solid black;border-bottom:none;border-right: none;">TENDER NAME:-
          </mat-label>
          <input type="text"
            style="width: calc(100% - 128px);height: 25px;font-size: 17px;border:1px solid black;border-bottom:none;"
            [(ngModel)]="item.TEN_NAME" disabled />
        </div>
        <div class="saveButton" style="position: absolute;right: 0%;top: 0%;" *ngIf="SAVEBTNSHOW">
          <button class="btn theme-btn mr-2 ml-auto" matTooltip='Save' matTooltipClass="custom-tooltip"
            (click)="Save(item)">
            <svg class="icon icon-save">
              <use xlink:href="assets/symbol-defs.svg#icon-save"></use>
            </svg>
          </button>
        </div>
        <div class="row m-0" id="tys">
          <div class="deskop_div p-0" [ngClass]="{'my_class': DOCKON === true}">
            <div class="container-name" [ngClass]="dummay_variable">
              <div style="display: flex;">
                <mat-label style="border:1px solid black;padding: 1px 14.5px; text-align: center;border-right:none;">
                  User Id</mat-label>
                <mat-label style="border:1px solid black;padding: 1px 18px; text-align: center;border-right:none;">
                  SRNO</mat-label>
                <mat-label style="border:1px solid black;padding: 1px 18px; text-align: center;border-right:none;">
                  WEIGHT</mat-label>
                <mat-label style="border:1px solid black;padding: 1px 61.5px; text-align: center;border-right:none;">
                  RESRVE</mat-label>
                <button
                  style="border:1px solid black;padding: 1px 27px; text-align: center;border-right:none;background-color: #8d8b8b;color: white;"
                  (click)="NewClick(item)">View All Plan</button>
                <mat-label style="border:1px solid black;padding: 1px 17.5px; text-align: center;border-right:none;">
                  S.R.W</mat-label>
                <input type="text" style="border:1px solid black;width: 60px;height: 25px;border-right:none;" disabled
                  name="Code" autocomplete="off" />
                <mat-label style="border:1px solid black;padding: 1px 30px; text-align: left;border-right:none;">FLOR
                </mat-label>
                <mat-label style="border:1px solid black;padding: 1px 13px; text-align: left;">LS</mat-label>
                <mat-label
                  style="border:1px solid black;padding: 1px 24px; text-align: left;border-left:none;border-right:none">
                  TENSION</mat-label>
              </div>
              <div style="display: flex;">

                <input type="text"
                  style="border:1px solid black;width: 74px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  [(ngModel)]="item.AUSER" disabled name="Code" autocomplete="off" />
                <input type="text"
                  style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;font-weight: bold;"
                  disabled [(ngModel)]="item.SRNO" name="Code" autocomplete="off" />
                <input type="text"
                  style="border:1px solid black;width: 89px;height: 25px;border-right:none;border-top:none;text-align: center;font-weight: bold;"
                  disabled [(ngModel)]="item.I_CARAT" name="Code" autocomplete="off" />
                <input type="text"
                  style="border:1px solid black;width: 174px;height: 25px;border-right:none;border-top:none;text-align: center;font-weight: bold;"
                  [(ngModel)]="item.RESRVE" [disabled]="RESERVELOCK" name="Code" autocomplete="off" />
                <input type="text"
                  style="border:1px solid black;width: 136px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  disabled name="Code" autocomplete="off" />
                <input type="text"
                  style="border:1px solid black;width: 136px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  disabled [(ngModel)]="item.PERCTS" name="Code" autocomplete="off" hidden />
                <input type="text"
                  style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  disabled [(ngModel)]="item.SRW" name="Code" autocomplete="off" />
                <input type="text"
                  style="border:1px solid black;width: 60px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  disabled name="Code" autocomplete="off" />
                <select
                  style="border: 1px solid black; text-align: center; height: 25px; width: 95px;border-top: none;position: relative;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FL_CODE" disabled [ngStyle]="{'background-color': FloColColor(item.FL_CODE)}">
                  <option *ngFor="let cl of filteredSzs | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>
                <mat-checkbox class="example-margin"
                  style="border: 1px solid black;width: 42px; border-left: none; border-top:none;border-right: none;text-align: center;"
                  disabled [(ngModel)]="item.LS"></mat-checkbox>

                <select
                  style="border:1px solid black;width: 108px; height: 25px;border-right:none;border-top:none;position: relative;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.T_CODE" disabled [ngStyle]="{'background-color': TensionColor(item.T_CODE)}">
                  <option *ngFor="let cl of filteredTension | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>
              </div>

              <div style="display: flex;align-items: center;">
                <input type="text"
                  style="border:1px solid black;width: 74px;height: 25px;border-right:none;border-top:none;text-align: center;" name="Code"
                  [(ngModel)]="item.U_TYPE" autocomplete="off" disabled/>
                <mat-label
                  style="border:1px solid black;padding: 2px 14.4px; text-align: center;border-right:none;border-top:none">
                  FLAT 1</mat-label>
                <mat-label
                  style="border:1px solid black;padding: 2px 22.7px; text-align: center;border-right:none;border-top:none">
                  FLAT 2</mat-label>
                <mat-label
                  style="border:1px solid black;padding: 2px 19.7px; text-align: center;border-right:none;border-top:none">
                  MEDUIM</mat-label>
                <mat-label
                  style="border:1px solid black;padding: 2px 14px; text-align: center;border-right:none;border-top:none">
                  HEIGHT</mat-label>
                <mat-label
                  style="border:1px solid black;padding: 2px 25px; text-align: center;border-right:none;border-top:none">
                  DN</mat-label>

                <input class="tenderTxt"
                  style="border:1px solid black;padding: 2px 0px; text-align: center;border-right:none;border-top:none;width: 66px;"
                  [(ngModel)]="item.UUSER1" disabled />
                <input class="tenderTxt"
                  style="border:1px solid black;padding: 2px 0px; text-align: center;border-right:none;border-top:none;width: 73px;"
                  [(ngModel)]="item.UUSER2" disabled />
                <input class="tenderTxt"
                  style="border:1px solid black;padding: 2px 0px; text-align: center;border-top:none;width: 61px;"
                  [(ngModel)]="item.UUSER3" disabled />

              </div>
              <div style="display: flex;align-items: center;">

                <mat-label
                  style="border:1px solid black;padding: 2px 13.6px; text-align: center;border-right:none;border-top:none;">
                  FINAL:-</mat-label>
                <select
                  style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FFLAT1" disabled>
                  <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>

                <select
                  style="border:1px solid black;width: 89px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FFLAT2" disabled>
                  <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>

                <select
                  style="border:1px solid black;width: 95px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FMED" disabled>
                  <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>

                <select
                  style="border:1px solid black;width: 79px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FHIGH" disabled>
                  <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>

                <select
                  style="border:1px solid black;width: 70px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.DNC_CODE"
                  [disabled]="ADISDISABLE">
                  <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>

                <select
                  style="border:1px solid black;width: 66px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.I1C_CODE" disabled>
                  <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>
                <select
                  style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.I2C_CODE" disabled>
                  <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>
                <select style="border:1px solid black;width: 61px;height: 25px;border-top:none;text-align: center;"
                  name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.I3C_CODE" disabled>
                  <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                    {{ cl.name }}
                  </option>
                </select>
              </div>

              <div class="row">
                <div style="display: flex;">
                  <div style="display: flex; flex-direction: column;">

                    <div class="sample" style="display: flex;">
                      <mat-label
                        style="border:1px solid black;padding: 2px 9px; text-align: center;border-right:none;border-top:none;">
                        RESULT:-</mat-label>

                      <select
                        style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.RFLAT1" disabled>
                        <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                      <select
                        style="border:1px solid black;width: 89px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.RFLAT2" disabled>
                        <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 95px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.RMED" disabled>
                        <option *ngFor="let cl of filteredMacColor | async  " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 79px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.RHIGH" disabled>
                        <option *ngFor="let cl of filteredMacColor | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                    <div style="display: flex;">

                      <mat-label
                        style="border:1px solid black;padding: 2px 9px; text-align: center;border-top:none;border-right: none;">
                        FLO NO:-</mat-label>

                      <select
                        style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FLNFLAT1" disabled>
                        <option *ngFor="let cl of filteredFLO | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 89px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FLNFLAT2" disabled>
                        <option *ngFor="let cl of filteredFLO | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 95px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FLNHIGH" disabled>
                        <option *ngFor="let cl of filteredFLO | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 79px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FLNMED" disabled>
                        <option *ngFor="let cl of filteredFLO | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <mat-label
                    style="border:1px solid black; text-align: center;border-right:none;border-top:none;border-bottom:none; padding: 25px 34.6px;">
                  </mat-label>
                  <div class="subclass">
                    <div class="subhclass" style="display: flex;">
                      <mat-label
                        style="border:1px solid black; text-align: center;border-right:none;border-top:none;height:50px;padding: 11px 5.6px;">
                        ROUND:-</mat-label>
                      <select
                        style="border: 1px solid black; text-align: center; width: 73px; height: 50px; border-right: none; border-top: none;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.RC_CODE" disabled>
                        <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div style="display: flex;flex-direction: column;">

                    <div class="newClass" style="display: flex;height: 25px;">
                      <mat-label
                        style="border:1px solid black;padding: 2px 17.8px; text-align: center;border-right:none;border-top:none;">
                        T1:-</mat-label>
                      <select
                        style="border:1px solid black;width: 245px;height: 25px; border-right:none;position: relative;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.R1C_CODE" disabled>
                        <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                    <div style="display: flex;">

                      <mat-label
                        style="border:1px solid black;padding: 2px 17.7px; text-align: center;border-right:none;border-top:none;">
                        T2:-</mat-label>

                      <select
                        style="border:1px solid black;width: 245px;border-right:none;border-top:none;height: 25px;position: relative;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.R2C_CODE" disabled>
                        <option *ngFor="let cl of filteredColor | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>

                  </div>
                </div>

                <div style="display: flex;">
                  <div style="display: flex; flex-direction: column;">

                    <div class="sample" style="display: flex;">

                      <mat-label
                        style="border:1px solid black;padding: 2px 4px; text-align: center;border-top:none;border-right: none; font-size: 12px;">
                        MACH FLO:-</mat-label>

                      <select
                        style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.MFLFLAT1" disabled>
                        <option *ngFor="let cl of filteredMacFLO | async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 89px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.MFLFLAT2" disabled>
                        <option *ngFor="let cl of filteredMacFLO | async" [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 95px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.MFLMED" disabled>
                        <option *ngFor="let cl of filteredMacFLO | async" [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 79px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.MFLHIGH" disabled>
                        <option *ngFor="let cl of filteredMacFLO | async" [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                    <div style="display: flex;">

                      <mat-label
                        style="border:1px solid black;padding: 2px 2px; text-align: center;border-top:none;border-right: none;">
                        COMMENT</mat-label>

                      <select
                        style="border:1px solid black;width: 73px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.CFLAT1" disabled>
                        <option *ngFor="let cl of filteredMacCom | async" [ngValue]="cl.code">
                          {{ cl.code }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 89px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.CFLAT2" disabled>
                        <option *ngFor="let cl of filteredMacCom| async " [ngValue]="cl.code">
                          {{ cl.code }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 95px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.CMED" disabled>
                        <option *ngFor="let cl of filteredMacCom | async" [ngValue]="cl.code">
                          {{ cl.code }}
                        </option>
                      </select>

                      <select
                        style="border:1px solid black;width: 79px;height: 25px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.CHIGH" disabled>
                        <option *ngFor="let cl of filteredMacCom | async" [ngValue]="cl.code">
                          {{ cl.code }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <mat-label
                    style="border:1px solid black; text-align: center;border-right:none;border-top:none; padding: 24.7px 34.6px;">
                  </mat-label>
                  <div class="subclass">
                    <div class="subhclass" style="display: flex;">
                      <mat-label
                        style="border:1px solid black; text-align: center;border-right:none;border-top:none;height:50px;padding: 12px 7px;">
                        FANCY:-</mat-label>

                      <select
                        style="border:1px solid black;width: 73px;height: 50px;border-right:none;border-top:none;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.FC_CODE" disabled>
                        <option *ngFor="let cl of filteredColor | async" [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div style="display: flex;flex-direction: column;">

                    <div class="newClass" style="display: flex;height: 25px;">
                      <mat-label
                        style="border:1px solid black;padding: 2px 17.9px; text-align: center;border-right:none;border-top:none;">
                        T1:-</mat-label>

                      <select
                        style="border:1px solid black;width: 245px;border-right:none;border-top:none;height: 25px;position: relative;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.F1C_CODE" disabled>
                        <option *ngFor="let cl of filteredColor| async " [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>
                    <div style="display: flex;">

                      <mat-label
                        style="border:1px solid black;padding: 2px 18px; text-align: center;border-right:none;border-top:none;">
                        T2:-</mat-label>

                      <select
                        style="border:1px solid black;width: 245px;border-right:none;border-top:none;height: 25pxpx;position: relative;text-align: center;"
                        name="name" autocomplete="off" class="tenderSelect" [(ngModel)]="item.F2C_CODE" disabled>
                        <option *ngFor="let cl of filteredColor | async" [ngValue]="cl.code">
                          {{ cl.name }}
                        </option>
                      </select>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="deskop_footer_bid p-0" [ngClass]="{'my_class': DOCKON === true}">
            <div class="container-name_2" style="display: grid;">
              <mat-label style="border:1px solid black;padding: 1px 6.8px; text-align: center;border-bottom:none;">Final
                Amount
                Per</mat-label>
              <textarea type="text" [style]="AreaBoxStyle" disabled name="Code" style="font-weight: bold;"
                [(ngModel)]="item.FBID" autocomplete="off" class="tenderTxt  ws"></textarea>
              <mat-label
                style="border:1px solid black;padding: 1px 6.8px; text-align: center;border-bottom:none;border-top: none;">Final
                Amount</mat-label>
              <textarea type="text" [style]="AreaBoxStyle" disabled name="Code" style="font-weight: bold;"
                [(ngModel)]="item.FAMT" autocomplete="off" class="tenderTxt  ws"></textarea>
              <div style="display: flex;height: calc(100% - 7%);">
                <mat-label
                  style="border:1px solid black; text-align: center;border-right:none;border-top:none;padding: 3px 31px;padding-bottom: 15px;">Aditional
                  Discount</mat-label>
                <input class="tenderTxt" [style]="ContainWidth" [(ngModel)]="item.ADIS" [disabled]="ADISDISABLE"
                  (ngModelChange)="ADISCHANGE($event,item)" />
              </div>
            </div>
          </div>
        </div>
        <div class="container-name" style="display: grid;position: absolute;top: 0;left: 1140px;">
          <mat-label style="width: 164px;border:1px solid black;padding: 2px;text-align: center;border-bottom: none;border-left: none;">Comment</mat-label>
          <textarea type="text" [style]="CommentStyle" [disabled]="ADISDISABLE" name="Code"
          [(ngModel)]="item.BVCOMMENT" autocomplete="off" class="tenderTxt  ws"></textarea>
        </div>
      </div>
      <!-- <div>
        <pre>{{columnDefs | json}}</pre>
      </div> -->


      <div>
        <table style="width: 100%;">
          <tr>
            <ng-container *ngFor="let colDef of columnDefs">
              <th *ngIf="!colDef.hide" [ngStyle]="{ 'width': colDef.width + 'px'}">
                {{colDef.headerName}}
              </th>
            </ng-container>
          </tr>

          <ng-container *ngFor="let tableData of item.GRID_DATA">
            <tr [ngStyle]="{ 'background-color': tableData['PTAG'] == 'Total' || tableData['ISCOL'] == 1 ? '#c0ffc0' : '' }" (dblclick)="DbClick(tableData)">
              <ng-container *ngFor="let colDef of columnDefs">
                <td *ngIf="!colDef.hide" [ngStyle]="{'width': colDef.width + 'px'}" [ngStyle]="{ 'width': colDef.width + 'px'}">
                  
                  <ng-container *ngIf="colDef.FORMAT == 'DateFormat'">
                    {{TableDateFormat(tableData[colDef.field])}}
                  </ng-container>
                  
                  <ng-container *ngIf="colDef.FORMAT == 'TimeFormat'">
                    {{TableTimeFormat(tableData[colDef.field])}}
                  </ng-container>
                  
                  <ng-container *ngIf="colDef.FORMAT == '#0'">
                    {{TabIntFormat(tableData[colDef.field])}}
                  </ng-container>
                  
                  <ng-container *ngIf="colDef.FORMAT == '#0.00'">
                    {{TabTwoFloatFormat(tableData[colDef.field])}}
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == '#0.000'">
                    {{TableThreeFloatFormat(tableData[colDef.field])}}
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'StringFormat'">
                    {{TableStringFormat(tableData[colDef.field])}}
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'S_CODE' && tableData['PTAG'] != 'Total'">
                    <select #ShapeDrop [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" 
                    (keydown.enter)="nextenter('CutDropDown')"
                    (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let shp of S_CODE"  [value]="shp.code" >{{shp.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'CT_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="CutDropDown" (keydown.enter)="nextenter('CaratField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let ct of CT_NAME"  [value]="ct.code" >{{ct.name}}</option>  
                    </select>  
                  </ng-container>
                
                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'LB_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="LabField" (keydown.enter)="nextenter('ColorField')" [(ngModel)]="tableData[colDef.field]"[disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">   
                      <option *ngFor="let lab of LB_NAME"  [value]="lab.code" >{{lab.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'LB_CODE' && tableData['PTAG'] === 'Total'">
                    {{tableData[colDef.field]}}
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'C_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="ColorField" (keydown.enter)="nextenter('QuaField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let col of C_NAME"  [value]="col.code" >{{col.name}}</option>  
                    </select>  
                  </ng-container>


                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'Q_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="QuaField" (keydown.enter)="nextenter('IncField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let qua of Q_NAME"  [value]="qua.code" >{{qua.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'IN_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="IncField" (keydown.enter)="nextenter('FloField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let inName of IN_NAME"  [value]="inName.code" >{{inName.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'FL_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="FloField" (keydown.enter)="nextenter('MilkyField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let fl of FL_NAME"  [value]="fl.code" >{{fl.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'ML_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="MilkyField" (keydown.enter)="nextenter('ShdField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let mlk of ML_NAME"  [value]="mlk.code" >{{mlk.name}}</option>  
                    </select>  
                  </ng-container>
                  
                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'SH_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="ShdField" (keydown.enter)="nextenter('RefField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let shd of SHD_NAME"  [value]="shd.code" >{{shd.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'REF_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="RefField" (keydown.enter)="nextenter('RapTypeField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let ref of REF_NAME"  [value]="ref.code" >{{ref.name}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'RAPTYPE' && tableData['PTAG'] != 'Total'">
                    <select id="RapTypeField" (keydown.enter)="nextenter('DepthField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let rap of RAPNAME"  [value]="rap.code" >{{rap.code}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'DEP_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="DepthField" (keydown.enter)="nextenter('RatioField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let dep of DEP_NAME"  [value]="dep.code" >{{dep.code}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'RAT_CODE' && tableData['PTAG'] != 'Total'">
                    <select id="RatioField" (keydown.enter)="nextenter('GrdField')" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let rat of RAT_NAME"  [value]="rat.code" >{{rat.code}}</option>  
                    </select>  
                  </ng-container>

                  <ng-container *ngIf="colDef.FORMAT == 'DropDown' && colDef.field == 'GRD_CODE' && tableData['PTAG'] != 'Total'"> 
                    <select id="GrdField"  [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">  
                      <option *ngFor="let grd of GRD_NAME"  [value]="grd.code" >{{grd.code}}</option>  
                    </select>  
                  </ng-container>


                  <ng-container *ngIf="colDef.LOCK == false && colDef.FORMAT == 'Editable' && colDef.field == 'CARAT' && tableData['PTAG'] != 'Total' " >
                    <input id="CaratField" (keydown.enter)="nextenter('LabField')" type="text" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findRapTabe(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">
                  </ng-container>

                  
                  <ng-container *ngIf="colDef.LOCK == false && colDef.FORMAT == 'Editable' && colDef.field == 'CARAT' && tableData['PTAG'] == 'Total' " >
                    {{TabTwoFloatFormat(tableData[colDef.field])}}
                  </ng-container>
                  
                  <ng-container *ngIf="colDef.LOCK == false && colDef.FORMAT == 'Editable' && colDef.field == 'MPER'  && tableData['PTAG'] != 'Total'" >
                    <input type="text" [(ngModel)]="tableData[colDef.field]" [disabled]="USERID != 'ADMIN' && USERID != 'DN'" (change)="findMPerCalc(tableData, item)" [ngStyle]="{'color': '#ff3838', 'width': colDef.width + 'px'}">
                  </ng-container>

                                    
                  <ng-container *ngIf="colDef.LOCK == false && colDef.FORMAT == 'Editable' && colDef.field == 'MPER' && tableData['PTAG'] == 'Total' " >
                    {{TabTwoFloatFormat(tableData[colDef.field])}}
                  </ng-container>
                  
                
                  <ng-container *ngIf="colDef.FORMAT == 'CheckBox' && colDef.field == 'PLNSEL' && tableData['PTAG'] != 'Total' " >
                    <input type="checkbox" [(ngModel)]="tableData[colDef.field]" [disabled]="true" (change)="findMPerCalc(tableData, item)" [ngStyle]="{'background-color': TbaleColColor(tableData, colDef.field), 'width': colDef.width + 'px'}">
                  </ng-container>
                </td>
              </ng-container>
            </tr>
          </ng-container>

          <!-- <tr *ngFor="let tableData of item.GRID_DATA">
            <td *ngFor="let colDef of columnDefs">
              <ng-container *ngIf="colDef.hide"> {{tableData[colDef.field]}} </ng-container> 
            </td>
          </tr> -->


        </table>
      </div>

      <!-- <div class="newGrid memo-ent-grid">
        <ag-grid-angular class="ag-theme-alpine" style="width: calc(100% - 2%); height: 40vh; min-width: 1140px;"
          [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [getRowStyle]="getRowStyle"
          [rowData]="item.GRID_DATA" (gridReady)="onGridReady($event)" (cellValueChanged)="FindRap($event)">
        </ag-grid-angular>
      </div> -->
    </article>
  </ng-container>
</cdk-virtual-scroll-viewport>


<!-- (gridReady)="onGridReady($event)" -->
<!-- (cellValueChanged)="FindRap($event)" -->
<ngx-spinner>
  <p style="color: white;">Loading...</p>
</ngx-spinner>